@page "/"
@namespace Note.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="_content/BlazorToastify/blazor-toastify-style.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/quill.min.js"></script>
    <link href="~/css/quill.snow.css" rel="stylesheet">
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>
