@page "/thread/{threadId}"
@inherits DetailNoteBase;
<style>
    .content-pad{
        border-color: transparent !important;
    }
</style>

@if (Thread != null)
{
    <div class="jumbotron">
        <h1 class="display-4">@Thread.Title</h1>
        <p class="lead">
            <div id="content-container" class="content-pad">
            </div>
        </p>
        <hr class="my-4">

    </div>
}