@page "/home"
@page "/"
@inherits HomeBase;

<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-dark text-white p-2 text-center">
            <input type="text"
                   @bind-value="Note.Title"
                   @bind-value:event="oninput"
                   @onfocusin="OpenNotePad"
                   class="mx-auto my-auto input-new-note-abstract"
                   placeholder="Create your note here...." />

        </div>
        <div class="col-12 bg-light corner-radius m-3 h-100">
            <label hidden="@HasThreads">No Threads</label>
        </div>
    </div>
</div>

<QuickNote></QuickNote>



